@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    background-color: #D9E9F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*==========================================================*/
/* 
.cabecalho-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    height: 300px;
    will-change: filter;
    transition: filter 300ms;
    background-color: transparent;
    margin-left: 450px;
    transition: filter 600ms ease, transform 400ms ease;
}

.cabecalho-div:hover {
    filter: drop-shadow(0 1rem 10rem #bad546);
    transform: translateY(-4px) scale(1.03);
}

.cabecalho-div img {
    max-width: 100%;
    height: auto;
    background-color: transparent;
}

.titulo {
    align-items: baseline;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2rem;
    letter-spacing: 0.05em;
    font-weight: bold;
    color: #EB7E32;
    background-color: transparent;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #0c0c0c;
}

.nav-div1 {
    margin-right: 500px;
}

.nav-div2 {
    margin-left: 500px;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li a {
    margin: 0 15px;
    font-size: large;
}

.nav-list a {
    text-decoration: none;
    color: #EB7E32;
    font-weight: bold;
    transition: color 300ms ease-in-out;
}

.nav-list a:hover {
    color: #BAD546;
}

.nav-botoes {
    background-color: #EB7E32;
    color: #0c0c0c;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 650;
    margin-left: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.nav-botoes:hover {
    background-color: #BAD546;
    color: #0c0c0c;
    transform: scale(1.10);
    font-weight: 999;
}

hr {
    color: #BAD546;
}

hr {
    border: none;
    height: 1px;
    background-color: #EB7E32;
    width: 100%;
}

hr:hover {
    background-color: #BAD546;
}

@media (max-width: 480px) {
    hr {
        display: none;
    }

    .cabecalho-div {
        flex-direction: column;
        margin: auto;
        max-width: content;
        background-color: transparent;
        text-align: center;
    }

    .nav-div1 {
        align-items: center;
    }
} */